---
// get the slug from the URL
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const articles: CollectionEntry<"articles">[] =
    await getCollection("articles");
  return articles.map((article) => ({
    params: { slug: article.data.permalink },
  }));
}

const { slug } = Astro.params;
const articles: CollectionEntry<"articles">[] = await getCollection("articles");
const article = articles.find((a) => a.data.permalink === slug);
if (!article) {
  throw new Error(`Article not found: ${slug}`);
}
---

<BaseLayout title={article.data.title} description={article.data.description}>
  <article class="my-10">
    <p class="text-sm text-cyan-500 uppercase">
      Published on {new Date(article.data.published).toLocaleDateString()}
    </p>
    <div class="text-white prose prose-invert max-w-4xl">
      {article.rendered && <div set:html={article.rendered.html} />}
    </div>
    <div class="mt-5">
      <a href="/" class="text-cyan-400 uppercase text-sm hover:underline">
        Back to Articles
      </a>
    </div>
  </article>
</BaseLayout>
