---
import { getCollection, getEntry, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const articles = await getCollection("articles");
  return articles.map((article) => ({
    params: { slug: article.data.link },
  }));
}

const { slug } = Astro.params;
const article = await getEntry("articles", slug);

if (!article) {
  return Astro.error(404, "Article not found");
}

const { Content } = await render(article);
const tags = article.data.tags || [];
---

<BaseLayout title={article.data.title} description={article.data.description}>
  <article>
    <header class="border-b border-white/10 p-5 ml-2 lg:pl-35">
      <p class="text-sm text-primary uppercase">
        Published on {new Date(article.data.pubDate).toLocaleDateString()}
      </p>
      <p class="text-sm text-primary lowercase">
        Tags: {tags.join(", ")}
      </p>
    </header>
    <div
      class="text-white prose prose-invert max-w-4xl px-5 ml-2 lg:ml-30 lg:w-1/2"
    >
      <div>
        <Content />
      </div>
    </div>
    <div class="my-5 px-5 ml-2 lg:ml-30 lg:w-1/2">
      <a href="/" class="text-primary uppercase text-sm hover:underline">
        Back to Articles
      </a>
    </div>
  </article>
</BaseLayout>
