---
// get the slug from the URL
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const articles: CollectionEntry<"articles">[] =
    await getCollection("articles");
  return articles.map((article) => ({
    params: { slug: article.data.permalink },
  }));
}

const { slug } = Astro.params;
const articles: CollectionEntry<"articles">[] = await getCollection("articles");
const article = articles.find((a) => a.data.permalink === slug);
if (!article) {
  throw new Error(`Article not found: ${slug}`);
}

const tags = article.data.tags || [];
---

<BaseLayout title={article.data.title} description={article.data.description}>
  <article>
    <header class="border-b border-white/10 p-5 lg:pl-35 lg:w-1/2">
      <p class="text-sm text-cyan-500 uppercase">
        Published on {new Date(article.data.published).toLocaleDateString()}
      </p>
      <p class="text-sm text-cyan-500/70 lowercase">
        Tags: {tags.join(", ")}
      </p>
    </header>
    <div class="text-white prose prose-invert max-w-4xl px-5 lg:ml-30 lg:w-1/2">
      {article.rendered && <div set:html={article.rendered.html} />}
    </div>
    <div class="my-5 px-5 lg:ml-30 lg:w-1/2">
      <a href="/" class="text-cyan-400 uppercase text-sm hover:underline">
        Back to Articles
      </a>
    </div>
  </article>
</BaseLayout>
