@font-face {
  font-family: "Lexend";
  src: url("/fonts/lexend.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono-Regular";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono-Italic";
  src: url("/fonts/JetBrainsMono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "JetBrainsMono-Regular", sans-serif;
  --font-heading: "Lexend", sans-serif;
}

.prose code::before,
.prose code::after {
  content: none;
}
