@font-face {
  font-family: "JetBrainsMono-Regular";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono-Bold";
  src: url("/fonts/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono-Italic";
  src: url("/fonts/JetBrainsMono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "JetBrainsMono-Regular", monospace;
  --color-primary: #8b8bb8;
}

.prose code::before,
.prose code::after {
  content: none;
}

.prose {
  color: #d1d5db;
}

.prose code {
  color: #f59e0b;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4 {
  color: var(--color-primary);
}
