---
import DefaultLayout from "../layouts/Default.astro";
import { getCollection } from "astro:content";
const allArticles = await getCollection("articles");
const title = "Articles focused on learning JS";
const description =
  "A collection of articles and tutorials about JavaScript and web development.";
---

<DefaultLayout {title} {description}>
  <ul class="lg:w-1/2">
    {
      allArticles.map((article) => (
        <li class="mb-2 border-b border-gray-700 border-dashed pb-2">
          <a
            href={`/articles/${article.data.permalink}`}
            class="text-cyan-400 hover:underline"
          >
            {article.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</DefaultLayout>
