---
const redev = "{redev}";
---

<header class="py-5 border-b border-white/10 pl-5 lg:pl-0">
  <div class="flex items-center justify-center">
    <h1>
      <a href="/">
        <svg viewBox="0 0 130 45" width="260" height="90">
          <text
            x="4"
            y="32"
            font-family="'JetBrainsMono-Bold', monospace"
            font-size="24"
            font-weight="700"
            fill="#fe8181"
            >${redev}
          </text>
        </svg>
      </a>
    </h1>
  </div>
</header>
