---
import Logo from "../components/Logo.astro";
---

<header class="py-2 border-b border-white/10 pl-5 lg:pl-30">
  <div class="px-6 pt-2">
    <a href="/" class="inline-block">
      <Logo />
    </a>
  </div>
</header>
