<header class="py-5 border-b border-white/10">
  <div class="text-center">
    <h1
      class="text-3xl font-bold font-heading text-transparent bg-clip-text bg-linear-to-r from-cyan-500 to-indigo-500 tracking-tight"
    >
      <a href="/">RedfernDev</a>
    </h1>
  </div>
</header>
