---
import SiteHead from "../components/SiteHead.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import Analytics from "@vercel/analytics/astro";
import "../styles/global.css";
const { title, description } = Astro.props;
---

<html lang="en">
  <SiteHead {title} {description} />

  <SpeedInsights />
  <Analytics />

  <body class="bg-slate-900">
    <SiteHeader />
    <div
      class="fixed left-0 top-0 h-full w-5 bg-[repeating-linear-gradient(45deg,transparent,transparent_9px,rgb(255_255_255/0.2)_9px,rgb(255_255_255/0.2)_10px)] border-r border-white/10 lg:w-30"
    >
    </div>
    <main>
      <slot />
    </main>
    <SiteFooter />
  </body>
</html>
